<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>Document</title>
    <style>
        .bg {
            background-color: black;
            color: white;
        }
    </style>
</head>

<body>
    <!-- V-Model ajuda two way data binding (ligação de dados bidirecional)-->
    <!-- V-Bind ajuda one way data binding (ligação de dados mão unica)-->
    <div id="app">
        <p name="" id="" cols="30" rows="10" class="bg">
           {{ paciente }}
        </>
        
        <hr>
        <!-- <textarea type="text" :value="paciente"  @keyup="setPaciente($event)" cols="30" rows="10">

        </textarea> -->
        <textarea name="" id="" cols="30" rows="10" v-model="paciente">
            
        </textarea>
        <hr>
        <input type="radio" value="f" v-model="sexo">Feminino
        <input type="radio" value="m" v-model="sexo">Masculíno
        <br> {{ sexo }}
        <hr>
        <select v-model="plano">
            <option value="" disabled>Selecione o Plano</option>
            <option value="basico 1">Básico 1</option>
            <option value="basico 2">Básico 2</option>
            <option value="Master">Master</option>
        </select>
        <br> {{ plano }}
        <hr>
        <input type="checkbox" value="100" v-model="doencas">Asma
        <input type="checkbox" value="101" v-model="doencas">Diabetes
        <input type="checkbox" value="102" v-model="doencas">Rinite
        <br> {{ doencas }}
        <hr>
        <textarea cols="30" rows="10" v-model="diagnostico">

        </textarea>
        <br>{{ diagnostico }}
    </div>

    <script>

        const vm = new Vue({

            el: '#app ', // # selecionar por Id |  . para selecionar por classe -> como no css
            data: {
                paciente: 'João da Silva',
                sexo: '',
                plano: '',
                doencas: [],
                diagnostico: ''
            },
            methods: {
                setPaciente (e) {
                    this.paciente = e.target.value
                }
            },
            computed: {}
            
        });

    </script>
</body>

</html>